<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Journal</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:insert="~{fragments/navBar :: navBarFragment}">
</nav>
<div class="container p-3 my-5">
    <h1 class="display-5 border-bottom">Nutrition Journal - add meal</h1>
    <div th:insert="~{fragments/messages :: messagesFragment}"></div>

    <div class="row mt-3 mb-1">
        <div class="col-md-12">
            <h2 th:text="${jm.mealName}"></h2>
            <table class="table table-striped">
                <thead th:insert="~{fragments/table-secondary-thead-button :: theadButtonFragment}"></thead>
                <tbody>
                <tr>
                    <td class="col-left">Totals - of which:</td>
                    <td class="col-right" th:text="${jm.getQuantity}">SumQuantity</td>
                    <td class="col-right" th:text="${jm.getKiloJoules}">SumKilojoules</td>
                    <td class="col-right" th:text="${jm.getProteins}">SumProteins</td>
                    <td class="col-right" th:text="${jm.getCarbohydrates}">SumCarbohydrates</td>
                    <td class="col-right" th:text="${jm.getFiber}">SumFiber</td>
                    <td class="col-right" th:text="${jm.getFat}">SumFat</td>
                    <td></td>
                </tr>
                <tr th:each="jmf : ${jm.journalMealFoods}">
                    <td class="col-left">
                        <a th:href="@{/journal/meal/{mealId}/food/{id}/edit(mealId=${jm.id}, id=${jmf.getId()})}" th:text="${jmf.getName()}"></a>
                    </td>
                    <td class="col-right" th:text="${jmf.getQuantity()}"></td>
                    <td class="col-right" th:text="${jmf.getKiloJoules()}"></td>
                    <td class="col-right" th:text="${jmf.getProteins()}"></td>
                    <td class="col-right" th:text="${jmf.getCarbohydrates()}"></td>
                    <td class="col-right" th:text="${jmf.getFiber()}"></td>
                    <td class="col-right" th:text="${jmf.getFat()}"></td>
                    <td class="col-right">
                        <form th:action="@{/journal/meal/{mealId}/food/{id}/delete(mealId=${jm.id}, id=${jmf.getId()})}"
                              th:method="post">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-1 mb-3">
        <div class="col-md-3">
            <a class="btn btn-primary w-100" th:href="@{/journal/meal/{mealId}/food/add(mealId=${jm.id})}" th:text="'Add new food'">Add new food</a>
        </div>
    </div>

    <form th:action="@{/journal/meal/{id}/edit(id=${jm.id})}" th:method="post" th:object="${formDTO}" class="was-validated pt-3">
        <div class="mb-3 row d-flex">
            <div th:insert="~{fragments/formDtoDateRadio :: formDtoDateRadioFragment}"></div>

            <div class="row mt-3">
                <div class="col-md-3 form-group">
                    <label for="mealName">Meal name</label>
                    <input type="text" id="mealName" name="mealName" class="form-control"
                           th:field="*{mealName}" maxlength="75" required pattern=".*\S+.*"/>
                    <div class="invalid-feedback">Please enter the name of the meal.</div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/journalSearchButtons :: journalSearchButtonsFragment}"></div>
    </form>
</div>
</body>
</html>